.app {
  &__catalog-cart-container {
    display: flex;
    position: relative;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: auto;
  }
}
