.cart-item {
    padding: 16px 8px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &:last-child {
        border: 0;
    }

    &__total-title {
        padding-left: 4px;
    }

    &__remove-btn {
        border: 0;
        background: none;
        cursor: pointer;
    }

    &__title,
    &__price {
        margin: 0;
    }

    &__title {
        max-width: 70%;
    }

    &__price {
        flex-basis: 100%;
        text-align: right;
        font-weight: bold;
        margin-top: 4px;
    }


}